
@face-font {
    
}


html {
    background-color: slategray;
}

section {
    text-align: center;
    margin: 0 auto;
    width: 60%;
    
}

header {
    color: hsl(236, 100%, 47%);
    text-align: center;
    width: 60%;
    margin: 60px auto;
}

header h1 {
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    width: 400px;
    margin: 0 auto;
}

section h2 {
    color: hsl(175, 100%, 50%);
    background-color: rgba(0, 0, 255, 0.4);
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    font-weight: bold;
    padding: 10px;
    margin: 0 auto;
    text-transform: uppercase;
}

div {
    margin-bottom: 10px;
}

table {
    
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    margin-bottom: 100px;
}



tr {
    border: 1px solid hsl(197, 100%, 50%);
}

thead {
    color: black;
    font-family: "Noto Serif JP", serif;
    font-size: 18px;
    font-weight: bold;
}



tr.table-html-header {
    background-color: rgb(113, 148, 225);
}

tr.table-html-even {
    /* background-color: 	rgb(232, 214, 203); */
    background-color: hsl(200, 100%, 82%);
}

tr.table-html-odd {
    /* background-color: rgb(208, 173, 167); */
    background-color: rgb(70, 195, 255);
}



tr.table-css-header {
    background-color: rgb(75, 137, 218);
}

tr.table-css-even {
    /* background-color: hsl(174, 36%, 64%); */
    background-color: hsl(200, 100%, 82%);
}

tr.table-css-odd {
    /* background-color: rgb(76, 125, 141); */
    background-color: rgb(70, 195, 255);
}



tr.table-table-header {
    background-color: rgb(113, 148, 225);
}

tr.table-table-even {
    background-color: hsl(200, 100%, 82%);
}

tr.table-table-odd {
    background-color: rgb(70, 195, 255);
}



tr.table-container-header {
    background-color: rgb(75, 137, 218);
}

tr.table-container-even {
    background-color: hsl(200, 100%, 82%);
}

tr.table-container-odd {
    background-color: rgb(70, 195, 255);
}



tr.table-multimedia-header {
    background-color: rgb(113, 148, 225);
}

tr.table-multimedia-even {
    background-color: hsl(200, 100%, 82%);
}

tr.table-multimedia-odd {
    background-color: rgb(70, 195, 255);
}



td {
    padding: 1px 6px;    
    font-family:  "Roboto", sans-serif;
    font-size: 16px;
    padding-top: 2px;
    padding-bottom: 2px;
}

td.closing-tag {
    text-align: center;
}

table thead th, table tbody td {
    border: 1px solid rgb(0, 0, 125);

}

tfoot {
    text-align: right;
    margin: 10px;
}

tfoot td {
    background-color: hsla(0, 0%, 100%, 0);
}

tfoot a {
    text-transform: uppercase;
    line-height: 2;
    margin: 0 auto;
    padding: 6px;
    background-color: rgb(0, 18, 78);
    color: white;
    border: 1px solid rgb(0, 0, 125);
    border-radius: 10px;
    font-weight: bold;
}


nav {
    text-align: center;
    margin: 10px auto;
    padding: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

nav a {
    border: 1px solid black;
    
    width: 800px;
    height: 100%;
    background-color:rgba(157, 157, 255, 0.85);
    color: black;
    text-align: center;
    padding: 10px;
}

.tag {
    font-family: "Lucida Console", Courier, monospace;
    font-weight: 700;
}

.tag-even {
    background-color: rgb(203, 245, 241);
}

.tag-odd {
    background-color: rgb(203, 215, 241);
}